div
  font-family: 'Noto Sans', sans-serif
  font-weight: 400

.header
  height: 150px
  padding: 10px
  background: #7B9E89
  color: #D0DDD7
  ul
    display: flex
    list-style: none
    justify-content: flex-end
    li
      margin-right: 20px
      