.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; }

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 60%; }
  .sign-in-form input {
    width: 355px;
    border: none;
    height: 30px;
    font-size: 1em;
    background: #E6AA68;
    color: #212227;
    padding: 15px; }
    @media only screen and (max-width: 875px) {
      .sign-in-form input {
        width: 298px; } }
  .sign-in-form input::placeholder {
    color: #212227; }
  .sign-in-form button {
    width: 385px;
    height: 50px;
    font-size: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
    background: #7B9E89;
    color: #212227;
    font-weight: bold;
    cursor: pointer;
    border: none; }
    @media only screen and (max-width: 875px) {
      .sign-in-form button {
        width: 328px;
        font-size: 1.2em; } }

.password-sign-in {
  padding: 10px; }

.email {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

a {
  color: #7B9E89;
  text-decoration: none; }
  a:hover {
    color: #E6AA68; }
