.results-list
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.loading-container
  margin-top: 40px
  display: flex
  justify-content: center
  align-content: center
  img
    width: 30%
    height: 30%


article
  width: 600px
  margin-top: 20px
  border: 1px solid #7B9E89
  border-radius: 10px
  padding: 10px
  h1
    border-bottom: 1px solid #7B9E89
    padding: 0 10px 15px 10px
h3
  font-size: .90em
  padding: 10px

p
  font-size: .9em
  padding: 10px

.error-container
  margin-top: 40px
  p
    color: #D36135
    font-size: 1em
