.results-list
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.loading-container
  margin-top: 40px
  display: flex
  justify-content: center
  align-content: center
  img
    width: 30%
    height: 30%


article
  width: 40%
  border: 1px solid #02020B
  margin-top: 20px
  padding: 10px

h3
  font-size: .90em

p
  font-size: .9em

.error-container
  margin-top: 40px
  p
    color: #D36135
    font-size: 1em
