.results-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.loading-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center; }
  .loading-container img {
    width: 30%;
    height: 30%; }

.archive-denied {
  color: #E6AA68;
  display: inline; }

.next-page {
  background: #7B9E89;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px;
  font-size: 1em;
  border: none;
  width: 110px;
  height: 40px;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 40px; }

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

article {
  width: 600px;
  margin-top: 50px;
  border: 2px solid #7B9E89;
  border-radius: 10px;
  padding: 10px; }
  article h1 {
    padding: 0 10px 15px 10px; }
  article a {
    text-decoration: underline;
    font-size: 1.2em; }

.archive-article {
  padding-left: 10px; }

h3 {
  font-size: .9em;
  padding: 10px; }

p {
  font-size: 1em;
  padding: 10px; }

.error-container {
  margin-top: 40px; }
  .error-container p {
    color: #D36135;
    font-size: 1em; }
